# COVID-19 Cases + Search Trends by Political Affilation Join

This code changes the data types and aggregations of our datasets so they can be properly joined.

In [1]:
import pandas as pd

In [3]:
search_df = pd.read_csv("/Users/jackfeen/search_trends_w_political_affilation.csv")
search_df.head()

,Unnamed: 0.1,State,Party Affiliation,Unnamed: 0,date,location_key,major_depressive_disorder,depression,manic_disorder,panic_attack,...,compulsive_hoarding,shyness,suicidal_ideation,mood_disorder,mood_swing,underweight,guilt,impulsivity,anxiety,alcoholism
0,0,ALABAMA,Heavily Red,23053,2020-01-01,US_AL,3.16,4.05,0.57,1.30,...,0.12,0.30,0.35,0.89,0.26,0.54,0.33,0.30,6.93,5.04
1,1,ALABAMA,Heavily Red,23054,2020-01-02,US_AL,4.35,4.51,0.56,1.47,...,0.13,0.29,0.40,0.99,0.21,0.62,0.31,0.38,7.41,4.39
2,2,ALABAMA,Heavily Red,23055,2020-01-03,US_AL,4.18,4.07,0.51,1.46,...,0.12,0.26,0.38,0.92,0.23,0.61,0.27,0.33,7.24,4.15
3,3,ALABAMA,Heavily Red,23056,2020-01-04,US_AL,3.46,4.02,0.55,1.46,...,0.11,0.33,0.38,0.89,0.20,0.48,0.51,0.29,7.03,4.00
4,4,ALABAMA,Heavily Red,23057,2020-01-05,US_AL,3.46,4.50,0.58,1.35,...,0.12,0.28,0.35,0.94,0.23,0.56,0.37,0.36,7.12,3.91

In [10]:
covid_df = pd.read_csv("/Users/jackfeen/covid_cases.csv")
covid_df.head()

,start_date,date_updated,state,end_date,tot_cases,new_cases,tot_deaths,new_deaths,new_historic_cases,new_historic_deaths
0,01/05/2023,01/12/202301/12/202301/12/202301/12/202301/12/...,AKALARASAZCACOCTDCDEFLFSMGAGUHIIAIDILINKSKYLAM...,01/11/202301/11/202301/11/202301/11/202301/11/...,101483668,434733,1095921,4115,0,0
1,01/06/2022,01/13/202201/13/202201/13/202201/13/202201/13/...,AKALARASAZCACOCTDCDEFLFSMGAGUHIIAIDILINKSKYLAM...,01/12/202201/12/202201/12/202201/12/202201/12/...,63354105,5476639,849949,13231,0,0
2,01/07/2021,01/14/202101/14/202101/14/202101/14/202101/14/...,AKALARASAZCACOCTDCDEFLFSMGAGUHIIAIDILINKSKYLAM...,01/13/202101/13/202101/13/202101/13/202101/13/...,23101019,1708204,398236,23633,0,0
3,01/12/2023,01/19/202301/19/202301/19/202301/19/202301/19/...,AKALARASAZCACOCTDCDEFLFSMGAGUHIIAIDILINKSKYLAM...,01/18/202301/18/202301/18/202301/18/202301/18/...,101814491,330823,1099759,3838,0,0
4,01/13/2022,01/20/202201/20/202201/20/202201/20/202201/20/...,AKALARASAZCACOCTDCDEFLFSMGAGUHIIAIDILINKSKYLAM...,01/19/202201/19/202201/19/202201/19/202201/19/...,68859641,5505536,864379,14430,0,0

In [8]:
search_df['date'] = pd.to_datetime(search_df['date'])

# 2. Create a new column for the week (this will aggregate dates into weeks)
search_df['week'] = search_df['date'].dt.to_period('W')

# 3. Group by 'state' and 'week', then aggregate the numeric columns (mean)
aggregated_df = search_df.groupby(['Party Affiliation', 'week']).agg({
    'anxiety': 'mean',   # Replace 'value1' with your actual column name
   
}).reset_index()
aggregated_df.head(30)

   Party Affiliation                   week   anxiety
0               Blue  2019-12-30/2020-01-05  6.981231
1               Blue  2020-01-06/2020-01-12  7.229890
2               Blue  2020-01-13/2020-01-19  7.132637
3               Blue  2020-01-20/2020-01-26  7.412088
4               Blue  2020-01-27/2020-02-02  7.514945
5               Blue  2020-02-03/2020-02-09  7.506044
6               Blue  2020-02-10/2020-02-16  7.396593
7               Blue  2020-02-17/2020-02-23  7.606264
8               Blue  2020-02-24/2020-03-01  7.552418
9               Blue  2020-03-02/2020-03-08  7.369231
10              Blue  2020-03-09/2020-03-15  6.949011
11              Blue  2020-03-16/2020-03-22  6.750220
12              Blue  2020-03-23/2020-03-29  6.977912
13              Blue  2020-03-30/2020-04-05  6.993187
14              Blue  2020-04-06/2020-04-12  6.678022
15              Blue  2020-04-13/2020-04-19  6.687033
16              Blue  2020-04-20/2020-04-26  6.929341
17              Blue  2020-04-27/2020-05-03  7.068242
18              Blue  2020-05-04/2020-05-10  6.863736
19              Blue  2020-05-11/2020-05-17  6.835934
20              Blue  2020-05-18/2020-05-24  6.716264
21              Blue  2020-05-25/2020-05-31  6.412088
22              Blue  2020-06-01/2020-06-07  6.347253
23              Blue  2020-06-08/2020-06-14  6.761209
24              Blue  2020-06-15/2020-06-21  6.711209
25              Blue  2020-06-22/2020-06-28  6.773407
26              Blue  2020-06-29/2020-07-05  6.644615
27              Blue  2020-07-06/2020-07-12  6.937253
28              Blue  2020-07-13/2020-07-19  6.886923
29              Blue  2020-07-20/2020-07-26  6.928791

In [11]:
covid_df['start_date'] = pd.to_datetime(covid_df['start_date'])

# 2. Create a new column for the week (this will aggregate dates into weeks)
covid_df['week'] = covid_df['start_date'].dt.to_period('W')

# 3. Group by 'state' and 'week', then aggregate the numeric columns (mean)
ag_cov_df = covid_df.groupby(['week']).agg({
    'new_cases': 'sum',   # Replace 'value1' with your actual column name
   
}).reset_index()
ag_cov_df.head(30)

                     week  new_cases
0   2020-01-13/2020-01-19          6
1   2020-01-20/2020-01-26          5
2   2020-01-27/2020-02-02         12
3   2020-02-03/2020-02-09         13
4   2020-02-10/2020-02-16         16
5   2020-02-17/2020-02-23         27
6   2020-02-24/2020-03-01        101
7   2020-03-02/2020-03-08       1133
8   2020-03-09/2020-03-15       7725
9   2020-03-16/2020-03-22      59286
10  2020-03-23/2020-03-29     151264
11  2020-03-30/2020-04-05     216480
12  2020-04-06/2020-04-12     207216
13  2020-04-13/2020-04-19     199145
14  2020-04-20/2020-04-26     199927
15  2020-04-27/2020-05-03     187942
16  2020-05-04/2020-05-10     159936
17  2020-05-11/2020-05-17     157259
18  2020-05-18/2020-05-24     145806
19  2020-05-25/2020-05-31     143756
20  2020-06-01/2020-06-07     147482
21  2020-06-08/2020-06-14     154019
22  2020-06-15/2020-06-21     209647
23  2020-06-22/2020-06-28     292313
24  2020-06-29/2020-07-05     357393
25  2020-07-06/2020-07-12     424339
26  2020-07-13/2020-07-19     459483
27  2020-07-20/2020-07-26     455984
28  2020-07-27/2020-08-02     413265
29  2020-08-03/2020-08-09     400616

In [12]:
merged_df = pd.merge(aggregated_df, ag_cov_df, on='week', how='inner')
merged_df.head()

  Party Affiliation                   week   anxiety  new_cases
0              Blue  2020-01-13/2020-01-19  7.132637          6
1      Heavily Blue  2020-01-13/2020-01-19  7.560000          6
2       Heavily Red  2020-01-13/2020-01-19  7.509857          6
3          Moderate  2020-01-13/2020-01-19  7.241250          6
4               Red  2020-01-13/2020-01-19  7.240440          6

In [ ]:
merged_df.to_csv("")